@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console",
    "Courier New", monospace !important;
}

.ant-form {
  color: white;
}

.costum-ui-input::placeholder {
  color: rgb(107 114 128);
}
.costum-ui-input {
  color: white;
  border: none;
  border-radius: 2px;
  background-color: rgb(17 24 39)
}

.ant-select-selector {
  background-color: rgb(17 24 39) !important;
  color: white !important;
  border: none !important;
}

.ant-form-item .ant-form-item-label > label {
  color: white;
}
/* 
.fontf-code {
  font-family: "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console",
    "Courier New", monospace;
} */